
  <% include ../partials/header.ejs %>
  <% include ../partials/navbar.ejs %>




<div class="container">
<h2>Database Results</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Date</th>
            <th><a name="" id="" class="btn btn-secondary" href="insert_pd" role="button">Add New</a></th>
        </tr>
    </thead>
    <tbody>
    <% results.forEach(function(r) { %>
        <tr>
            <td><%= r.id %></td>
            <td><%= r.title %></td>
            <td><%= r.price %></td>
            <td><%= r.create_at %></td>   
            <td><a name="" id="" class="btn btn-primary" href="/db/<%= r.id %>" role="button">Edit</a></td>
            
        </tr>
    <% }); %>    
    </tbody>
</table>


</div>
<% include ../partials/footer.ejs %>
